.timeline {
	/*width: 500px;*/
	height: 600px;
	overflow: hidden;
	margin: 40px auto;
	position: relative;
	background: url('../images/dot.gif') 3px top repeat-y;
}
.timeline .dates {
	width: 140px;
	height: 600px;
	overflow: hidden;
	float: left;
	margin: 0 auto;
}
.timeline .dates li {
	list-style: none !important;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 24px;
	padding-left: 10px;
	background: url('../images/biggerdot.png') left center no-repeat;
}
.timeline .dates a {
	line-height: 38px;
	padding-bottom: 10px;
	font-size: 16px;
}
.timeline .dates .selected {
    font-size: 30px;
}
		
.timeline .issues {
	width: 400px;
	height: 600px;
	overflow: hidden;
	margin: 0 auto;
}	
.timeline .issues li {
	width: 400px;
	height: 600px;
	list-style: none !important;

}
.timeline .issues li.selected img {
	-webkit-transform: scale(1.0,1.0);
	-moz-transform: scale(1.0,1.0);
    -o-transform: scale(1.0,1.0);
    -ms-transform: scale(1.0,1.0);
    transform: scale(1.0,1.0);
}
.timeline .issues li img {
	float: left;
	margin: 40px 30px 10px 50px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
	zoom: 1;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out; 
	transition: all 2s ease-in-out;
	-webkit-transform: scale(0.7,0.7);
	-moz-transform: scale(0.7,0.7);
    -o-transform: scale(0.7,0.7);
    -ms-transform: scale(0.7,0.7);
    transform: scale(0.7,0.7);
    width: 200px;
}
.timeline .issues li span {
	color: #ffcc00;
	margin: 0 100px;
	font-size: 48px;
	text-align: center;
	text-shadow: #000 1px 1px 2px;
}
.timeline .issues li p {
	font-size: 14px;
	margin: 10px 20px;
	font-weight: normal;
	line-height: 22px;
	/*text-shadow: #000 1px 1px 2px;*/
}
		
.timeline #grad_top,
.timeline #grad_bottom {
	width: 500px;
	height: 80px;
	position: absolute;
}
.timeline #grad_top {
    top: 0;
    background: url('../images/grad_top.png') repeat-x;
}
.timeline #grad_bottom {
    bottom: 0;
    background: url('../images/grad_bottom.png') repeat-x;
}
		
.timeline .next,
.timeline .prev {
	position: absolute;
	left: 55%;
	font-size: 70px;
	width: 38px;
	height: 22px;
	background-position: 0 -44px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
.timeline .next:hover,
.timeline .prev:hover {
	background-position:  0 0;
}
.timeline .next {
	bottom: 0;
	background-image: url('../images/next_v.png');
}
.timeline .prev {
	top: 0;
	background-image: url('../images/prev_v.png');
}
.timeline .next.disabled,
.timeline .prev.disabled {
	opacity: 0.2;
}